@import "./sidebar.css";
@import "./header.css";
@import "./main.css";

.dashboard-layout {
  display: grid;
  grid-template-columns: minmax(160px, var(--sidebar-width)) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-areas:
    "header header"
    "sidebar main";
  min-height: 100vh;
  transition: grid-template-columns var(--transition-normal);
}

.dashboard-layout.sidebar-collapsed {
  grid-template-columns: 0 1fr;
}
