@import "./sidebar.css";
@import "./header.css";
@import "./main.css";

.navigation-list a {

    display: block;

    padding: 12px 18px;

    text-decoration: none;

    color: inherit;
}

.dashboard-layout {
  display: grid;

  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;

  grid-template-areas:
    "sidebar header"
    "sidebar main";

  min-height: 100vh;
}
